@model OnlineShop.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.IsDeleted == 0)
{
    <h2>Khóa tài khoản</h2>
}
@if (Model.IsDeleted == 1)
{
    <h2>Mở khóa tài khoản</h2>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCard)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            SĐT
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Trạng thái email
        </dt>
        @if (Model.IsEmailActive == 0)
        {
            <dd>
                Chưa kích hoạt
            </dd>
        }
        @if (Model.IsEmailActive == 1)
        {
            <dd>
                Đã kích hoạt
            </dd>
        }
        <dt>
            Mật khẩu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            Ảnh đại diện
        </dt>
        @if (Model.Avatar == null)
        {
            <dd>Chưa có ảnh</dd>
        }
        @if (Model.Avatar != null)
        {
            <dd>
                @Html.DisplayFor(model => model.Avatar)
            </dd>
        }
        <dt>
            Ngày tạo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Vai trò
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        @if (Model.IsDeleted == 0)
        {
            <input type="submit" value="Khóa" class="btn btn-danger" />
        }   
        @if (Model.IsDeleted == 1)
        {
            <input type="submit" value="Mở khóa" class="btn btn-success" />
        }   
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
