@model OnlineShop.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Người đặt
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            Người đặt
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            SĐT
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Tình trạng thanh toán
        </dt>
        @if (Model.IsPay == 0)
        {
            <dd>Chưa thanh toán</dd>
        }
        @if(Model.IsPay == 1)
        {
            <dd>Đã thanh toán</dd>
        }
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Ngày đặt
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Khả dụng
        </dt>
        @if(Model.IsDeleted == 0)
        {
            <dd>Khả dụng</dd>
        }
        @if(Model.IsDeleted == 1)
        {
            <dd>Không khả dụng</dd>
        }
        <dt>
            Tình trạng đơn hàng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
    </dl>
</div>
<div>
    @if(Model.Status.StatusName == "Đang xử lý")
    {
        <a asp-action="Edit" asp-route-id="@Model.OrderId" class="btn btn-success">Xác nhận</a> 
        <a asp-action="Delete" asp-route-id="@Model.OrderId" class="btn btn-danger">Từ chối</a> 
        <br /><br />
        <a asp-action="Index">Trở về danh sách</a>
    }
    @if(Model.Status.StatusName == "Đang giao" || Model.Status.StatusName == "Đã nhận" || Model.Status.StatusName == "Từ chối"){
        <a asp-action="Index">Trở về danh sách</a>
    }
</div>
